.textcolor{
    color: #FFFBF0 !important; 
}

.bodytextcolor{
     color: #53161D !important; 
}

.backcolor{
    background-color: #53161D !important; 
}

.backbodycolor{
     background-color:  #FFFBF0 !important; 
}